@{
    ViewData["Title"] = "Payment Failed";
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

<link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="~/css/animate.css">

<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/aos.css">

<link rel="stylesheet" href="~/css/ionicons.min.css">

<link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="~/css/jquery.timepicker.css">


<link rel="stylesheet" href="~/css/flaticon.css">
<link rel="stylesheet" href="~/css/icomoon.css">
<link rel="stylesheet" href="~/css/style.css">
<style>
    .validation-summary-errors ul {
        list-style: none;
    }
</style>
<script src="~/js/sweetalert2.js"></script>


<div class="hero-wrap hero-bread" style="background-color: #dbcc8f; height:20px">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>User</span></p>
                <h1 class="mb-0 bread">Payment Failed</h1>

            </div>
        </div>
    </div>
</div>


<section class="ftco-section bg-light">
    <div class="container" style="width:50%">
        <div class="row justify-content-center">
            <div class="col-xl-10 ftco-animate">
                <p>

                    Your payment could not be processed. Try again later or contact the site owner for help.
                </p>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/aos.js"></script>
<script src="~/js/jquery.animateNumber.min.js"></script>
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/js/google-map.js"></script>
<script src="~/js/main.js"></script>