<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/sweetalert2.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        @{
                            if (!Context.User.IsInRole("Administrator"))
                            {
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="TrackMyOrder"> Track My Order</a></li>
                            }
                        }
                        <partial name="_LoginPartial" />
                        <li class="nav-item active"><a asp-action="Index" asp-controller="Home" class="nav-link">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Shop" asp-action="ViewCart">Cart</a>
                            </div>
                        </li>
                        @{
                            if (Context.User.IsInRole("Administrator"))
                            {
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Role" asp-action="Index">Roles</a></li>
                            }
                            if (Context.User.IsInRole("Administrator") || Context.User.IsInRole("Delievery Employee"))
                            {
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">Users Orders</a></li>
                            }
                            if (Context.User.IsInRole("Administrator") || Context.User.IsInRole("Products Manager"))
                            {
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Products</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Category" asp-action="Index">Categories</a> </li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Attribute" asp-action="Index">Attributes</a></li>
                            }
                            if (Context.User.IsInRole("Normal User"))
                            {
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Order" asp-action="getMyOrders">My Orders</a></li>

                            }

                            <li class="nav-item cta cta-colored"><a asp-controller="Shop" asp-action="ViewCart" class="nav-link"><span class="icon-shopping_cart"></span></a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Ecommerce</h2>
                        <p>Trousers,Jackets, Shoes and more! You can buy anything you want from our site.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Menu</h2>
                        <ul class="list-unstyled">
                            <li><a class="py-2 d-block" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a></li>
                            <li><a href="#" class="py-2 d-block">Home</a></li>
                            <li><a href="#" class="py-2 d-block">About</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Help</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">FAQs</a></li>
                                <li><a href="#" class="py-2 d-block">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Kumasi, Ghana</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+23354854666</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">nastick@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>

                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved

                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
